@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.container {
  background-color: $main-color;

  .nav {
    border-bottom: 1px solid $color-orange;
    p:hover {
      color: $color-white;
    }
  }
}
