@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.form {
  background-color: $main-color;
  padding: 15px;
  color: $color-white;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

  .bnt {
    background-color: transparent;
    color: $color-orange;
    border-color: $color-orange;
    margin-top: 10px;

    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }
}
