@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.infoBox {
  display: flex;
  background-color: $main-color;
  color: $color-white;
  border-radius: 25px;
  border: 2px solid $color-orange;
  .icon {
    font-size: $base-size * 6;
  }
  .content {
    font-size: $base-size * 1.5;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
